* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    color: inherit;
}

a:visited {
    all: unset;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    grid-auto-rows: 1fr;
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 15px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    place-items: center;
    padding: 30px;
    gap: 30px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #495057;
}

.title-md {
    font-size: 32px;
    font-weight: bold;
}

.title-lg {
    font-size: 45px;
    font-weight: bold;
}

.subtitle-lg {
    font-size: 24px;
    font-weight: 500;
    color: #495057;
}


.header {
    background-color: #DEE2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header .links {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero .title-lg {
    margin-bottom: 10px;
}

.link-item {
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    transition: font-weight 2ms ease-in;
}

.link-item:hover {
    font-weight: bold;
}

.main {
    background-color: white;
    margin-top: 5rem;
}

.main .container {
    grid-template-rows: 1fr 3fr;
}

#titleProjects {
    padding: 0px 50px;
    align-items: center;
    margin-top: 5rem;
}

#projectGrid .flex-item {
    padding: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projectGrid .flex-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-card {
    width: 400px;
    height: 400px;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-color: #343A40;
}

/* INF132.html */
#prjMainContent.container {
    grid-template-rows: 1fr 3fr 4fr;
    place-items: center;
}

#prjMainContent div.flex-item {
    align-items: center;
    text-align: center;
}