* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Monteserrat, sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 200px;
    width: 100vw;
    height: 100vh;
}