* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    width: 100vw;
    height: 100vh;
}

.container-item-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 15px;
}

.header {
    background-color: #DEE2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.header .links {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.link-item {
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    transition: font-weight 2ms ease-in;
}

.link-item:hover {
    font-weight: bold;
}

.main {
    background-color: white;
}

.main .container {
    grid-template-rows: 1fr 3fr;
}

.hero .hero-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero .hero-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.footer {
    background-color: #343A40;
}